/* Resetting some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

header h1 {
    font-size: 2em;
    margin-left: 20px;
}

header p {
    margin-left: 20px;
    color: #777;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #555;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#blog {
    max-width: 1200px;
    margin: 20px auto;
}

.blog-post {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

label, input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #555;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #333;
}
